[Desktop Entry]
Version=1.0
Type=Application
Name=Forgejo
GenericName=Git Versioning
Comment=Forgejo is a self-hosted lightweight software forge. Easy to install and low maintenance, it just does the job. 
Exec=/var/home/mneumatic/.local/bin/forgejo.sh
Terminal=false
Icon=/var/home/mneumatic/.local/share/icons/scalable/apps/Forgejo_logo.svg
Categories=Developement;
StartupNotify=true
