[Desktop Entry]
Version=1.0
Type=Application
Name=pgAdmin
GenericName=Database Management
Comment=pgAdmin is the most popular and feature rich Open Source administration and development platform for PostgreSQL, the most advanced Open Source database in the world.
Exec=/var/home/mneumatic/.local/bin/pgadmin.sh
Terminal=false
Icon=/var/home/mneumatic/.local/share/icons/scalable/apps/pgadmin.svg
Categories=Developement;
StartupNotify=true